* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --linear-grad: linear-gradient(to right, #141E30, #243B55);
    --grad-clr1: #141E30;
    --grad-clr2: #243B55;
}

body {
    height: 100vh;
    background: #f6f5f7;
    display: grid;
    place-content: center;
    font-family: 'Poppins', sans-serif;
    background-color: #EDEBE6;
}


.container, .container2{
    background-color: transparent;
    padding: 20px;
    border: antiquewhite 1px;
    border-radius: 20px;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Botão de transição */
 
.switch {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 34px;
}
 
.switch input {display:none;}
 
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ecd6ae;
  -webkit-transition: 1s;
  transition: transform 1s ease-in;
}
 
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 1s;
  transition: transform 1s ease;
}
 
input:checked + .slider {
  background-color: #d69212;
}
 
input:focus + .slider {
  box-shadow: 0 0 1px #fcfcfc;
}
 
input:checked + .slider:before {
  -webkit-transform: translateX(115px);
  -ms-transform: translateX(115px);
  transform: translateX(115px);
}
.user
{
  display: none;
}
.user, .admin
{
  color: rgb(0, 0, 0);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}
 
input:checked+ .slider .user
{display: block;}
 
input:checked + .slider .admin
{display: none;}
 
.slider.round {
  border-radius: 34px;
}
 
.slider.round:before {
  border-radius: 50%;}