<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Faça seu Login, usuário </title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/login.js"></script>
</head>

<body>
    <form action="/login" id="login" method="post">
        <label class="switch">
            <input type="checkbox" id="togBtn">

            <div class="slider round">
                <span class="user">
                    bem vindo, admin!
                </span>
                <span class="admin">
                    bem vindo, user!
                </span>
            </div>
        </label>


        <h1>Bem vindo(a)!</h1>
        <div class="inputbox">
            <input placeholder="Digite seu email" type="email">
        </div>
        <div class="inputbox">
            <input placeholder="Digite sua senha" type="password">
        </div>

        <button type="submit" class="login"> Login </button>
    </form>
</body>


</html>